body{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/Images/backgnd.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: monospace;
}
.nav li a{
    color:white;
    font-size:20px;
}

.nav li a:hover{
    color: green;
}

.btn{
     background-color:white;
     padding: 10px 30px;
     border-radius: 50px;
}