{{#partial "styles"}}

{{/partial}}

{{#partial "content"}}
    <div class="container mt-5 offset-sm-2 pt-3 pb-3">
        <h2 class="mb-5 mt-3">Animal Sighting</h2>
        <form action="/sight" method="POST">
            <div class="mb-3 mt-3">
                <label for="name" class="col-sm-2 col-form-label">Animal Name</label>
                <input type="text" class="form-control w-50" id="animal" name="animal">
            </div>
            <div class="mb-3">
                <label for="ranger" class="col-sm-2 col-form-label">Ranger's Name</label>
                <input type="text" class="form-control w-50" id="ranger" name="ranger">

            </div>
            <div class="row mb-3">
                <label for="location" class="form-label">Location</label>
                <select id="location" name="location" class="form-select w-50">
                    <option value="North">Zone A</option>
                    <option value="South">Near the River</option>
                    <option value="East">ZNE Quadrant</option>
                </select>
            </div>
            <div class="row mb-3">
                <label for="health" class="form-label">Health</label>
                <select id="health" name="health" class="form-select w-50">
                    <option value="healthy">Healthy</option>
                    <option value="ill">Ill</option>
                    <option value="okay">Okay</option>
                </select>
            </div>
            <div class="row mb-3">
                <label for="age" class="form-label">Age</label>
                <select id="age" name="age" class="form-select w-50">
                    <option value="newborn">Newborn</option>
                    <option value="young">Young</option>
                    <option value="adult">Adult</option>
                </select>
            </div>
            <div class="row mb-3">
                <label for="type" class="form-label">Animal Type</label>
                <select id="type" name="type" class="form-select w-50">
                    <option value="animal">Animal</option>
                    <option value="endangered">Endangered Animal</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default mt-2">Submit</button>
        </form>

    </div>

{{/partial}}
{{> layout.hbs}}